.DS_Store
.id_key
.master_ip
.master_elb_ip
cluster_info.json
launch.yaml
credentials.json

# cli
dcos
kubectl

# terraform
.deploy
.terraform
/*.tf
/*.tf.disabled
*.tfstate
*.tfstate.backup
terraform.tfvars
.terraform.tfstate.lock.info
modules/
desired_cluster_profile.tfvars.example
desired_cluster_profile
